body {
    width: 99%;
    min-height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./img/Gato\ de\ Botas.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

#modal {
    background-color: pink;
    width: 15rem;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#abrir-botao {
    padding: 0.5rem;
    width: 100px;
    height: 50px;
    font-weight: 600;
    background-color: rgb(152, 151, 236);
    color: white;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
}

#fechar-botao {
    padding: 0.5rem;
    background-color: rgb(152, 151, 236);
    color: white;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
}